<form *ngIf="!authCheck()" role="form">
    <div class="form-group">
        <label for="text1">Name:</label>
        <input [(ngModel)]="model.name" type="text" class="form-control" id="text1">
    </div>
    <div class="form-group">
        <label for="text2">Login:</label>
        <input [(ngModel)]="model.username" type="text" class="form-control" id="text2">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input [(ngModel)]="model.password" type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
        <p>{{formerrors}}</p>
    </div>
    <button type="submit" class="btn btn-default" (click)="onRegister()" >Submit</button>
</form>
<p *ngIf="authCheck()">You loggenit, {{ authCheck() }} <button class="btn btn-danger" (click)="logout()">Logout</button></p>