<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" *ngFor="let mnu of menulist">
                <li [routerLinkActive]="['active']"><a [routerLink]="mnu.path">{{ mnu.name }}</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
