<div class="row">
    <div class="col-sm-4" *ngFor="let user of users">
        <div class="panel panel-default" >
            <div class="panel-heading"><a [routerLink]="['/profile', user.id]">{{ user.name }}</a></div>
            <div class="panel-body">
                post count
            </div>
        </div>
    </div>
</div>