<form *ngIf="!authCheck()" role="form">
    <div class="form-group">
        <label for="text">Login:</label>
        <input [(ngModel)]="model.login" type="text" class="form-control" id="text">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input [(ngModel)]="model.password" type="password" class="form-control" id="pwd">
    </div>
    <button type="submit" class="btn btn-default" (click)="onLogin()" >Submit</button>
</form>
<p *ngIf="authCheck()">You loggenit, {{ authCheck() }} <button class="btn btn-danger" (click)="logout()">Logout</button></p>