@import (inline) '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import (inline) '../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';

.navbar.navbar-default {
  margin-top: 30px;
}
@keyframes load {
from {transform: rotate(0deg);opacity: 0.50}
50% {transform: rotate(180deg); opacity: 1}
to {transform: rotate(360deg); opacity: 0.50}
}


.preloader {
  //display: none;
  position: fixed;
  z-index:11111;
  width:100%;
  height:100%;
  background-color: #121123;
  left: 0;
  top:0;
  &__loader {
    position: absolute;
    top:50%;
    left:50%;
    width: 100px;
    height:100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    border: 10px solid #fff;
    animation: load  2s infinite ease-in-out;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #121123;
      border-radius: 50%;
    }
    &:before {
      top: 3px;
      left: 3px;
    }
    &:after {
      right: 3px;
      bottom: 3px;
    }
  }
}

.user {
  &__avatar {
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: block;
    box-shadow: 0 3px 17px rgba(0, 0, 0, 0.44);
  }
  &__name {
    text-align: center;
  }
}
