<div class="row" *ngIf="user">
    <div class="col-sm-2">
        <img class="user__avatar" src="{{user.avatar}}" alt="">
        <div class="user__name">{{ user.name }}</div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default" *ngFor="let post of userPosts">
            <div class="panel-heading">{{ post.date }}</div>
            <div class="panel-body">
                {{ post.text }}
            </div>
        </div>
    </div>
</div>